*.iml
.kotlin
.data
.gradle
.gradle-home
.idea
.kotlin-daemon
.reasonix
.workbuddy
*.bkp
local.properties
reasonix.toml
**/build/
xcuserdata
!src/**/build/
local.properties
.idea
.DS_Store
captures
.externalNativeBuild
.cxx
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
node_modules/
gradle/wrapper/dists/**/*
wrapper/dists/**/*
